@font-face {
    font-family: "Quadrant Duo Slab";
    src: url(/assets/style/webfonts/QuadrantSlabDuo-Thin.woff2);
}

// Base
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f8f5f2;
    margin: 0;
}
section {
    margin: 0 0;
}

// Type
body {
    font-family: "Quadrant Duo Slab", "Courier New", Courier, monospace;
    font-size: 16px;
    p {
        line-height: 1.8em;
        margin: 10px auto;
    }
    h1 {
        font-size: 18px;
        text-align: left;
        font-weight: normal;
        letter-spacing: 0.05em;
        margin: 0 15px 0;
    }
    h2 {
        font-size: 14px;
        line-height: 1em;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        margin: 0 0 30px;
    }
    h3 {
        font-size: 16px;
        font-weight: normal;
    }
    a {
        color: black;
        text-decoration: underline;
    }
}

// Header
header {
    position: fixed;
    // background: linear-gradient(
    //     0deg,
    //     rgba(248, 245, 242, 0) 0px,
    //     rgba(248, 245, 242, 1) 20px,
    //     rgba(248, 245, 242, 1) 100%
    // );
    top: 0;
    left: 0;
    right: 0;
    max-width: calc(100vw - 40px);
    margin: 0 20px;
    padding-bottom: 4px;
    z-index: 1000;
}
section.title {
    position: absolute;
    margin-top: 60px;
    div {
        margin-bottom: 0 !important;
    }
}
section.menu {
    text-align: left;
    margin-top: 60px;
    h2 {
        margin: 0;
        transition: all 300ms cubic-bezier(0.11, 0.57, 0.45, 1.06);
        opacity: 1;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        height: 40px;
        &.hide {
            opacity: 0;
            height: 0;
            margin: 0;
        }
        &.label {
            cursor: pointer;
        }
        &.active {
            opacity: 1;
            height: 40px;
        }
        &.toggle {
            display: none;
            span {
                cursor: pointer;
                &:first-of-type {
                    margin-right: 15px;
                }
                &:last-of-type {
                    margin-left: 15px;
                }
            }
        }
    }
    a {
        color: black;
        text-decoration: none;
        padding: 10px 0;
        transition: all 200ms ease-in-out;
        &:hover {
            color: gray;
        }
    }
    div {
        padding: 0 15px;
        justify-self: end;
        width: 250px;
        border: 1px solid black;
        border-radius: 3px;
        background: rgb(248, 245, 242);
        transition: height 0.4s ease-out;
        margin-bottom: 0 !important;
    }
}

// Layout
.content {
    margin: 280px 20px 0;
}
section.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    div {
        grid-column: span 1;
        div {
            padding: 0 15px;
            border-left: 1px solid black;
            margin-bottom: 80px;
            h3:last-of-type {
                margin-top: 40px;
            }
            ul {
                padding-inline-start: 15px;
                li {
                    line-height: 1.8em;
                }
            }
            a {
                text-decoration: none;
                &:hover {
                    color: gray;
                }
            }
        }
    }
    h2.button {
        text-align: center;
        margin: 30px 0 0;
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 30px;
        color: black;
        opacity: 1;
        transition: all 400ms ease-in-out;
        &:hover {
            opacity: 0.3;
        }
    }
}
.content {
    .dk,
    .en {
        max-width: 48em;
        opacity: 1;
        transition: all 400ms ease-in-out;
        &.fade {
            opacity: 0.3;
        }
    }
}

.menu {
    .dk,
    .en {
        opacity: 1;
        transition: all 400ms ease-in-out;
        &.fade {
            border: 1px solid rgba(0, 0, 0, 0.3);
            a {
                color: rgba(0, 0, 0, 0.3) !important;
            }
        }
    }
}

#about,
#house,
#staying,
#dining,
#reserve {
    padding-top: 100px;
    margin-top: -100px;
}

// Images
section.images.ten-col {
    padding-top: 40px;
    margin-bottom: 80px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 60px;
    max-width: 100%;
    row-gap: 60px;
    div {
        align-self: center;
        img {
            width: 100%;
            border: 5px solid white;
            box-sizing: border-box;
        }
        &.hor {
            grid-column: span 4;
            &.first {
                align-self: start;
            }
        }
        &.ver {
            grid-column: span 3;
        }
        &.space1 {
            grid-column: span 1;
        }
        &.space2 {
            grid-column: span 2;
        }
        &.space4 {
            grid-column: span 4;
        }
    }
}

// Footer

footer {
    text-align: center;
    img {
        width: 100%;
        max-width: 300px;
        margin: 40px auto 40px;
    }
    a {
        color: black;
        margin: 10px;
    }
}

@media (max-width: 1000px) {
    section.menu {
        margin-top: 10px;
        .toggle {
            display: flex !important;
        }
    }

    .dk {
        display: none;
    }

    .content {
        margin-top: 310px;
        section.two-col {
            div {
                grid-column: span 2;
            }
        }
    }

    section.ten-col {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        div {
            &.hor {
                grid-column: span 4;
            }
            &.ver {
                grid-column: span 3;
            }
            .space1,
            .space2 {
                grid-column: span 1;
            }
        }
    }
}
